.list, .birthday {
    border: aliceblue solid 1px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.list {
    width: 69%;
}

.birthday {
    width: 29%;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
}

.employeesByAlphabet {
    width: 250px;
    margin: 10px;
    padding: 10px;
    background-color: rgba(0,0,300,0.3);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.employeeName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 5px;
}

.employeeCheck {
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

.employeeCheck:hover {
    cursor: pointer;
}

.letter {
    font-family: "Bookman Old Style", serif;
}


