.list, .birthday {
    border: aliceblue solid 1px;
    box-shadow:  0 0 10px rgba(0,0,0,0.5);
}

.list {
    width: 69%;
}

.birthday {
    width: 29%;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
}

.employeesByAlphabet {
    width: 250px;
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 5px;
}

.employeeName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.employeeCheck {
    margin-left: 20px;
}

.employeeCheck:hover {
    cursor: pointer;
}

